# Maven - katalog kompilacji
target/

# Maven wrapper - wyjątek
!.mvn/wrapper/maven-wrapper.jar

# Dane aplikacji (tymczasowe)
users.json

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
*.classpath
*.project
*.settings/

# NetBeans
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# Visual Studio Code
.vscode/

# Systemowe śmieci
.DS_Store
Thumbs.db

# Logi i backupy
*.log
*.bak
